
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GorditaRegular";

  src: url("../src/gordita/Gordita\ Regular.woff");
}
@font-face {
  font-family: "GorditaMedium";

  src: url("../src/gordita/Gordita\ Medium.woff");
}
@font-face {
  font-family: "GorditaBold";

  src: url("../src/gordita/Gordita\ Bold.woff");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#111412;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dropdown {
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.dropdown-menu {
  background-color: #111412;
  padding: 12px 30px;
  position: absolute;
  left: -170px;
  opacity: 0;
  top: 20px;
  visibility: hidden;
  transition: .03s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 200px;
  text-align: center;

 
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
  animation: slideleft .2s cubic-bezier(0.455, 0.03, 0.515, 0.955) ;
  transition:.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  
}
.overlay {
  position: fixed; /* Stays in place while scrolling */
  top: 0;
  right: 0;
  
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
  z-index: 999; /* Ensures it stays above other content */
   /* Vertically center content */
}

/* Content inside the overlay */
.overlay-content {
 
  
  
  
 
  width: 100%;
}
